{% extends 'base.html' %}

{% block content %}

<div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
    {% for data1 in servicedata %}
    <div class="m-2 text-center p-4" style="width: 400px; background-color: black; border-radius: 20px; height:auto; display: flex; flex-direction: column; justify-content: space-evenly;">
      <img src="/media/{{ data1.image }}" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; margin: 0 auto;" class="card-img-top p-3" alt="Service Image">
      <div class="card-body pt-4 pb-4">
        <h5 class="card-title text-white text-bg-warning p-2" style="margin-top: 20px;">{{ data1.title }}</h5>
        <p class="card-text text-white" style="margin-top: 10px; text-align: justify;">{{ data1.descp }}</p>
      </div>

      <button type="button" class="btn btn-info ">Read More</button>
    </div>
    {% endfor %}
  </div>
  

{% endblock  %}